.riga-celeste-medio{
	text-align: center;
	background-color: #9FB2C2;
	height: 82px;
}

.menubutton{
	background:none!important;
    border:none; 
    padding:0!important;
    cursor: pointer;
     
	text-decoration: none;
	color: black;
	vertical-align: middle;
	margin-left: 30px;
}

.pattern-alto-guest{
	background-image: url('../../rimgs/pattern_alto_3000_C.svg');
	background-size: 3000px 24px;
	height: 24px;
}