.riga-celeste-chiaro{ /* QUI IN QUANTO IN COMUNE TRA HEADER E FOOTER */
	height: 8px;
	background-color: #C2CDD6;
}

#_content_ {
	height: 100%; 
	background-image: url('../rimgs/sfondo2.jpg'); 
	background-size: cover; 
	overflow-y: scroll; 
	padding-top: 20px; 
	text-align: center;
}

#ffooter{
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0;
}

.pattern-basso-guest{
	background-image: url('../rimgs/pattern_alto_3000_C.svg');
	background-size: 3000px 24px;
	text-align: center;
	height: 24px;
}

.riga-celeste-medio-basso{
	text-align: center;
	background-color: #9FB2C2;
	vertical-align: middle;
}

.allrightsreserved {
	vertical-align: middle;
	margin-left: 30px;
}

